# Ignora i binari compilati
bin/
draft/
*.exe
*.out
*.app
.*.un~

# Ignora i file oggetto intermedi
*.o
*.obj

# Ignora file di sistema
.DS_Store
Thumbs.db

# Ignora cartelle IDE (se usi VSCode)
.vscode/
